body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/background2.jpg'); 
    background-size: cover;  
    background-position: center center; 
    background-attachment: fixed;  
}