body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/background2.jpg'); /* Your image path */
    background-size: cover;  /* Make the image cover the entire screen */
    background-position: center center;  /* Center the image */
    background-attachment: fixed;  
}